
body {
    margin: 0;
    font-family:sans-serif;
      font-weight: 500;
     font-style: normal;
     background-color: rgb(255, 253, 248);
}
/* 전체화면 */
.container { 
    display:flex;
    flex-direction:row;
    min-height: 100vh;
}

/* 메뉴창 */
.logo {
    display: block;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin: 40px 10px 40px 10px;
}

.menu {
    margin-bottom: 300px;
}

.menu  a {
    display: block;
    font-size: 27px;
    margin: 10px 15px;
    padding: 12px 20px;
    
}

/* 체크박스 */
#genre-toggle {
    display: none;
}

.genre {
    display: block;
    font-size: 27px;
    padding: 12px 20px;
    margin: 10px 15px;
    cursor: pointer;
}

/* 장르하위 */
.genre-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height  0.5s ease;
    padding-left: 20px;
}

#genre-toggle:checked ~ .genre-list {
    max-height: 430px;
}

.menu a:hover {
    color: white;
    background-color: #081422;
    padding: 12px 23px;
    border-radius: 10px;
}

.genre-list a {
    color: #e5e5e9ec;
    font-size: 24px;
}

.sidebar { 
    width: 350px;
    height: 100vh;
    background-color: #171A3A;
    color: rgb(245, 242, 245);
    border-radius: 20px 20px 0 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu_area {
    flex: 1;
}

.sidebar a {
    color: rgb(245, 242, 245);
    text-decoration: none;
}

.sidebar-text {
    font-size: 22px;
    color: #c5c5c5;
    padding: 0 40px 30px;
    margin-top: auto;
    position:absolute;
    bottom: 30px;
    left: 40px;
    margin: 0;
}

div {
    font-size: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
}

/* 콘텐츠 프레임 */
.content {
    flex: 1;
}

.content iframe {
    width: 100%;
    height: 100vh;
    border: none;
    display: block;
}

/* 반응형 */

/* 모바일 */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .sidebar-text {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0;
    }
    .menu a, .genre {
        margin: 0;
    }

    .logo {
        margin: 0;
    }

    .game-list, .genre {
        margin: 0 10px 0 10px;
    }
}
/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar { 
    width: 250px;
    
}
    .logo {
    font-size: 30px;
    margin: 30px 10px 40px 10px;
}

    .sidebar a {
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 0;
}

    .sidebar-text {
    font-size:20px;
    padding: 0 10px 50px 0;
}    
}